<ul class="file-list">
    {% for file in fetch_files( file_section ) %}
        {% if file.status == "publish" %}
          <li><a href="{{ file.link }}">{{ file.title }}</a></li>
        {% else %}
            <li>{{ file.title }}</li>
        {% endif %}
    {% endfor %}
</ul>