<header>
    <pre class="logo">
 ____   ____ __  __    __  ___  ___  ___ __ __  __   ___ ___  ___ //  __      __  ______   ___   ____   ____ ____    ___     ___   ___  ___
 || )) ||    ||\ ||    || // \\ ||\\//|| || ||\ ||  //   ||\\//||    (( \    (( \ | || |  // \\  || \\ ||    || \\  // \\   // \\  ||\\//||
 ||=)  ||==  ||\\||    || ||=|| || \/ || || ||\\|| ((    || \/ ||     \\      \\    ||   ((   )) ||_// ||==  ||_// ((   )) ((   )) || \/ ||
 ||_)) ||___ || \|| |__|| || || ||    || || || \||  \\__ ||    ||    \_))    \_))   ||    \\_//  || \\ ||___ || \\  \\_//   \\_//  ||    ||
    </pre>
    <p class="logo-subtitle">
        {{ __( "Test", 'storeroom' ) }}
    </p>
</header>
{% include 'partials/nav-bar.twig' %}
{% include 'partials/divider.twig' %}