{% extends 'layout/base.twig' %}

{% block sidebar_title %}
 {{ __( 'Categories/Pages', 'storeroom' ) }}
{% endblock %}

{% block sidebar_content %}
 {% include "partials/category-list.twig" %}
 {% include "partials/page-list.twig" %}
{% endblock %}

{% block page_title site.title %}
{% block page_content %}
 Welcome to my lair, this is my little kingdom and personal website.

 <h3 id="text-about-me">About Me</h3>

 <p>I am a French IT student. I love learning more and more about IT, video games, etc. I am mainly a PHP/WordPress web developer, although I touch in a bit of everything, such as C, Web Frontend, Java, Go, and LUA. I also really enjoy using LaTeX to create real documents.</p>

 <p>I'm also a big fan of Irish music. Celtic Throne II will remain the best (for now...).</p>

 <p>I am also the owner of <a href="https://romhackplaza.org/" target="_blank">Romhack Plaza</a> and the co-founder of the <a href="https://stelare.org" target="_blank">Stelare</a> project, as well as a staff member on the Discord server <a href="/category/observatoire-champignon">Observatoire Champignon</a> where I organize quizzes and big contests for French-speaking Mario fans.</p>

 <h3 id="text-about-website">About this website</h3>

 <p>This site allows me to publish my articles, research, and work. It has several categories that you can see on the right. Some pages will be in English only and others in French only.</p>

 <p>The site is hosted by o2Switch, uses WordPress Bedrock for a better structure, has a complete custom theme and plugin, uses the Twig template engine via Timber, and all the site code is available on <a href="https://github.com/BenjaminCarteMemoire/BenjaminStoreroom" target="_blank">GitHub</a>.</p>
{% endblock %}